/* ---------------------------------
Note
--------------------------------- */

.Note {
  width: 100%;

  textarea {
    width: 100%;
    padding: 20px 16px;

    &:focus {
      outline: none;
    }
  }
}
