/* ========================
colors.scss
======================== */

@import "~flat-ui-colors-sass/_flat-colors";

$accent: $flat-red-1;
$accentDark: $flat-red-2;
$background_main: $flat-gray-1;
$font: lighten(black, 0.2);
$fontAlt: #444;
$fontLight: $flat-gray-4;
$transparent: rgba(255, 255, 255, 0);
$error: rgba($flat-red-1, 0.8);
