
/* ========================
fx.scss
======================== */

// $border: 1px solid $flat-gray-1;
$border: 2px solid $flat-gray-1;
$outline: null;
$radius: 4px;
$shadow: 0 2px 20px rgba(black, .1);
$innerShadow: inset 0 -2px 10px rgba(black, .1);
