
/* ========================
logic.scss
======================== */


/* ---------------------------------
resets & placeholders
--------------------------------- */

%setBorderBox { box-sizing: border-box; }

%setBody {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	font-size: 62.5%;
}

// % { flex-grow: 1; }

%specialTextPad {
	padding: .1em .2em;
}

%resetAnchors {
	text-decoration: none;
	color: inherit;
}


/* ---------------------------------
functions & mixins
--------------------------------- */

@function colContainerCalc($nCol) {
	$pad: 40;
	$colWidth: 300;
	$colGut: 20;

	@if $nCol == 1 {
		@return	($colWidth + $pad) * 1px;
	} @else {
		@return (($colWidth * $nCol) + ($colGut * ($nCol - 1)) + $pad) * 1px;
	}
}

@function emCalc($target, $context: 10) {
	// ref: https://stackoverflow.com/questions/13905407/append-unit-type-to-the-result-of-a-calculation
	@return ($target / $context) * 1em;
}


// should replace prev, watch for broken includes
@mixin box($pad: 0, $mar: 0, $isList: false) {
	padding: $pad;
	margin: $mar;
	@if $isList {
		list-style: none;
	}
}

@mixin border(
	$width,
	$style,
	$color,
	$side: '',
	$radius: 0
) {
	border#{'-' + $side}: $width $style $color;
	@if $radius != 0 {
		border-radius: $radius;
	}
}

// set font properties
// add line-height
// add default font-size?
@mixin typography(
	$size,
	$family: $base-font,
	$color: $font-color-dark,
	$alignment: left,
	$weight: 400
) {
	font-family: $family;
	font-weight: $weight;
	font-size: emCalc($size);
	text-align: $alignment;
	color: $color;
}

// set flexbox properties
@mixin flex($flow, $justify, $align) {
	display: flex;
	flex-flow: $flow;
	justify-content: $justify;
	align-items: $align;
}


// highlights the element for debugging purposes
@mixin highlight { outline: 1px solid $flat-purple-2; }


@mixin container($w) {
	display: block;
	max-width: $w;
	margin: 0 auto;
}


@mixin truncate($w) {
	width: $w;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin round($w) {
	display: inline-block;
	width: $w;
	border-radius: 100%;
}


/* ---------------------------------
other
--------------------------------- */

// debugging
$debugMode: false;

* {
	@if $debugMode { outline: 1px solid $flat-purple-2; }
}
