/* ========================
typography.scss
======================== */

// font definitions (tmp)
// TODO
// - convert remote > local
// - reduce to 2 (max 3) font families
// - create shorthand font declaration

// Material Icons loaded via HTML head link

// typography vars

// families
$archivo: "Archivo", sans-serif;
$firaSans: "Fira Sans", sans-serif; // no title
$workSans: "Work Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$material: "Material Icons";

// styles
$fontPrimary: null;
$fontSecondary: null;
$bodyFont: $firaSans;
$titleFont: $archivo;
$body: 16px;
$small: $body * 0.9;
$xSmall: $small - 2;
$title: $body * 1.2;

// templates
@mixin smallHeading {
  font-family: $titleFont;
  font-weight: 700;
  font-size: $xSmall;
  color: $flat-gray-4;
  text-transform: uppercase;
  margin: 0 0 $margin / 3;
}
