
/* ========================
vars.scss
======================== */

// layout
$padding: 20px;
$margin: 20px;
$spacer: 20px;
$gutter: $spacer;


// breakpoints
$XS: 320px;
$SM: 414px;
$MD: 768px;
$LG: null;
$XL: 1268px;
$XXL: null;
