/* ========================
vars.scss
======================== */

// layout
$padding: 20px;
$_padding: 1.6rem;
$margin: 20px;
$spacer: 20px;
$gutter: $spacer;

// breakpoints
$XS: 320px;
$SM: 414px;
$MD: 768px;
$LG: null;
$XL: 1268px;
$XXL: null;

// UI
$wrapper: 780px;
$cardMinWidth: 280px;
$cardMaxWidth: 370px;
$cardInModalWidth: 370px;
$cardInModalHeight: 470px;
$mediaHeight: 470px;
$cardHeight: $mediaHeight;
$headerHeight: 65px;
$searchHeight: 72px;
$navbarHeight: $headerHeight;
$footerHeight: 20px;
$appContent: $headerHeight + $navbarHeight + 98 + 49;
$bottomDrawerHeight: 100vh;
$bottomDrawerPadding: 45vh;
