/* ---------------------------------
WatchedList
--------------------------------- */

.watched {
  padding-bottom: 120px;

  .watchedHeader {
    .watchedHeaderTitle {
      font-family: $workSans;
      color: $flat-blue-3;
      font-weight: normal;
      text-align: left;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0 1.6rem;
      margin: 1.6rem 0;
    }
  }

  .cardList {
    @include box(0 1.6rem, 0, true);

    &.watchedList {
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax($cardMinWidth, $cardMaxWidth)
      );
      grid-gap: 28px;
      place-content: center;
    }
  }
}
