/* ---------------------------------
WatchedList
--------------------------------- */

.watched {
  .watchedHeader {
    .watchedHeaderTitle {
      font-family: $workSans;
      color: $flat-blue-3;
      font-weight: normal;
      text-align: left;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0 1.6rem;
      margin: 1.6rem 0;
    }
  }

  .cardList {
    @include box(0 1.6rem, 0, true);

    &.watchedList {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 320px));
      grid-gap: 28px;
      place-content: center;
    }

    .CardContainer:not(.compact) {
      position: relative;
      height: $cardHeight;

      /*
        targets the 2 anonymous divs
        acting as the Card's front & back
        containers, takes the full width
        of the grid item
      */

      > div {
        width: 100%;
      }
    }
  }
}
