/* ---------------------------------
Watched
--------------------------------- */

.Watched {
  // compensates for the fixed navbar
  padding-bottom: 100px;

  .viewOptionsContainer {
    border-bottom: $border;
    padding: 0.9rem;

    > .wrapper {
      @include flex(row wrap, center, center);
      @media screen and (min-width: $MD) {
        // justify-content: center;

        > * + * {
          margin-left: $margin / 2;
        }
      }
    }
  }
}
