/* ---------------------------------
.FilterAndSort
--------------------------------- */

.FilterAndSort {
  .FilterAndSortForm {
    @include flex(row wrap, flex-start, center);
    padding: 1.6rem;

    .formGroup {
      flex-grow: 1;
      padding: 10px 12px;
      border: $border;
      border-radius: 4px;

      + .formGroup {
        margin-left: 1rem;
      }

      @media (max-width: 375px) {
        + .formGroup {
          margin: 1rem 0 0 0;
        }
      }
    }

    label {
      @include smallHeading;
      display: block;
      margin-bottom: 18px;
    }
  }

  .watchedFilter {
    width: 100%;
    border: 1px solid $strokeLight;
    border-radius: 16px;
    padding: 4px 16px;
    box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.06);
    font-size: 0.9rem;

    &:focus {
      outline: none;
    }
  }

  .watchedSort {
    border: 1px solid $strokeLight;
    background-color: white;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
}
