/* ---------------------------------
.FilterAndSort
--------------------------------- */

.FilterAndSort {
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: $bottomDrawerHeight;
  width: 100%;
  padding-top: $bottomDrawerPadding;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  @media screen and (min-width: $MD) {
    padding-top: 70vh;
  }

  &Container {
    background-color: white;
    height: calc((#{$bottomDrawerHeight} - #{$bottomDrawerPadding}) - 36px);
    overflow-y: scroll;
    box-shadow: 0 -10px 20px 10px rgba(0, 0, 0, 0.25);
  }

  .closeButton {
    @extend %resetButtons;
    display: block;
    width: 100%;
    padding: 4px 1rem;
    cursor: pointer;
    text-align: right;
    color: white;

    i.material-icons {
      text-shadow: 0 2px 8px black;
    }
  }

  .FilterAndSortForm {
    @include flex(row wrap, center, center);
    padding: 1.6rem;

    .formGroup {
      position: relative;
      flex: 1 1 280px;
      padding: 10px 12px;
      border: $border;
      border-radius: 4px;
      margin-top: 1rem;

      @media screen and (min-width: 500px) {
        &:nth-child(even) {
          margin-left: 1rem;
        }
      }
    }

    label {
      @include smallHeading;
      font-weight: normal;
      display: block;
      margin-bottom: 18px;
    }
  }

  .watchedSort {
    @extend %resetButtons;
    border: 1px solid $strokeLight;
    background-color: white;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  // copied from 'searchCancel'
  // TODO anchor to input, add container
  .filterCancel {
    position: absolute;
    bottom: 11px;
    right: 20px;
    padding: 0;
    color: #444;
    // browser styles overrides
    background-color: transparent;
    border: none;
    outline: none;

    i.material-icons {
      font-size: 1.1rem;

      &:active {
        color: black;
      }
    }
  }
}
