/* ---------------------------------
Profile
--------------------------------- */

.Profile {
  .UserDataForm {
    &Label {
      @include smallHeading();
    }

    &Group {
      // overrides
      border: none;
      padding: 0;
    }

    &FieldContainer {
      @include flex(row nowrap, space-between, center);
    }

    &InputField {
      width: auto;
      flex-grow: 1;
      background-color: $paleYellow;
      box-shadow: none;

      &:disabled {
        background-color: $transparent;
        border: {
          top: 1px solid $transparent;
          left: 1px solid $transparent;
          right: 1px solid $transparent;
        }
        border-bottom: 1px solid #ecf0f1;
      }
    }

    &EditButton {
      margin-left: 0.5rem;
      // overrides
      border: none;
      background-color: transparent;

      .material-icons {
        font-size: 1.25rem;
        color: #444;
      }
    }
  }
}
