/* ========================
main.scss
======================== */

/* ---------------------------------
imports
--------------------------------- */

@import "./_partials/_logic";
@import "./_partials/_vars";
@import "~normalize.css/normalize.css";
@import "./_partials/_colors";
@import "./_partials/_typography";
@import "./_partials/_anims";
@import "./_partials/_fx";

/* ---------------------------------
common
--------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//   font-size: 62.5%;
// }

body {
  font-family: $firaSans;
  font-weight: 400;
}

/* ---------------------------------
components & pages
--------------------------------- */

@import "../components/Card/Card";
@import "../components/Navbar/Navbar";
@import "../components/PageHeader/PageHeader";
@import "../components/Modal/Modal";
@import "../components/FilterAndSort/FilterAndSort";
@import "../components/CompactCard/CompactCard";
@import "../components/ViewOptions/ViewOptions";
@import "../components/WatchedList/WatchedList";
@import "../components/AutoSuggest/AutoSuggest";
@import "../components/NotificationMessage/NotificationMessage";
@import "../components/SearchField/SearchField";
@import "../components/Layout/Layout";
@import "../pages/Watched/Watched";
@import "../pages/Home/Home";
