
/* ---------------------------------
.PillButton
--------------------------------- */

.PillButton {
  @extend %resetAnchors;
  display: inline-block;
  min-width: 99px;
  padding: 4px 8px;
  border: $border;
  border-radius: $radius;
  border-color: $flat-blue-1;
  margin-bottom: $margin / 2;
  font-size: $small;
  text-align: center;
  color: $flat-blue-1;
  // @media (max-width: 768px) { margin-bottom: $margin / 2; }
}
