/* ---------------------------------
Layout
--------------------------------- */

.Layout {
  // need to 'escape' the var!
  height: calc(100vh - #{$headerHeight});

  &:not(.Home) {
    .wrapper {
      padding: 1rem;
      margin: 0 auto;
      max-width: 450px;
    }
  }

  main,
  .wrapper {
    // TODO refine this
    height: calc(100% - #{$headerHeight});
  }
}
