/* ---------------------------------
Layout
--------------------------------- */

.Layout {
  // need to 'escape' the var!
  height: calc(100vh - #{$headerHeight});

  // > main {
  //   height: 100%;
  // }
}
