/* ---------------------------------
.Card
--------------------------------- */

$cardWidth: 290px;
$cardHeight: 310px;
$mediaHeight: 260px;

.Card {
  $root: ".Card";
  width: $cardWidth;
  border-radius: 6px;
  box-shadow: $shadow;
  margin-bottom: $margin;
  background-color: white;
  position: relative;

  &.back {
    height: $cardHeight;
  }

  // > * {
  //   padding: ($padding / 2) $padding;
  // }

  .CardFlipControls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.35) 40%,
      transparent
    );
    border: {
      top-left-radius: 6px;
      top-right-radius: 6px;
    }

    button {
      float: right;
      width: 40px;
      height: 40px;
      padding-top: 0.6rem;

      .material-icons {
        font-size: 1.25rem;
        color: white;
        text-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  #{$root}Media {
    overflow: hidden;
    height: $mediaHeight;
    position: relative;
    max-height: 420px;

    .CardPoster {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .CardPosterCurtain {
    @include flex(column nowrap, flex-end, flex-start);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    background: linear-gradient(
      to bottom,
      // transparent 50%,
        transparent 20%,
      black
    );

    &Title {
      padding: 1rem 1rem 0.25rem;
      margin: 0;
      font-family: $montserrat;
      font-weight: normal;
      color: white;
      text-shadow: 0 2px 20px black;
      text-transform: capitalize;
      line-height: 1.4;
      font-size: 1.5rem;
    }
  }

  .CardMeta {
    display: flex;
    flex-flow: row wrap;
    color: white;
    list-style: none;
    padding: 0.6rem 0;
    justify-content: space-between;
    width: 89%;
    border-top: 1px solid white;
    margin: 0 1rem;

    &Item {
      flex-basis: 40%;

      &Title {
        margin: 0;
      }
    }
  }

  // #{$root}Body {
  //   position: relative;

  //   #{$root}Header {
  //     #{$root}Heading {
  //       @include smallHeading;
  //       font-size: $small;
  //       margin-bottom: $margin / 2;
  //     }
  //   }

  //   .CardContent {
  //     font-size: $small;
  //     text-transform: capitalize;
  //   }
  // }

  #{$root}Footer {
    @include flex(row nowrap, space-evenly, center);
    border-top: 1px solid $flat-gray-1;
    height: 50px; // ?

    // padding: $padding / 2 0;
    // > * { padding: ($padding / 2) $padding; }
    // #{$root}TimeStamp {
    //   flex-grow: 1;
    //   padding-right: 0;

    //   time {
    //     font-size: $xSmall;
    //     color: $flat-gray-2;
    //   }
    // }
  }

  .CardControls {
    width: 100%;
    @include box(10px, 0, true);
    @include flex(row nowrap, space-around, center);
    position: relative;
    top: -25px;

    .CardControlsButton {
      font-size: $small;
      color: $flat-gray-4;
      text-align: center;
      width: 120px;
      padding: 16px 10px;
      background-color: white;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 30px 3px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $success;
        color: white;
        transform: scale(1.05);
      }
    }
  }

  i.material-icons {
    font-size: $body * 1.1;
    vertical-align: sub;
  }
}
