/* ---------------------------------
.Card
--------------------------------- */

.CardContainer {
  position: relative;
  height: $cardHeight;
  // width is set by the grid

  /*
    targets the 2 anonymous divs
    acting as the Card's front & back
    containers, takes the full width
    of the grid item
  */

  > .CardAnimatedFrame {
    width: 100%;
  }
}

.Card {
  border-radius: 6px;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: relative;

  &.front {
  }

  &.back {
    height: $cardHeight;

    // overrides!
    .CardFlipControls {
      display: block;
      height: auto;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) -250%,
        transparent
      );

      button {
        // TODO DRY
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 0.8rem;
        margin-right: 0.6rem;
        // browser overrides
        border: 0;
        background-color: transparent;
        outline: none;
      }

      .material-icons {
        color: rgba($fontAlt, 0.25);
        font-size: 1.25rem;
        text-align: center;
      }
    }
  }

  .CardBackContent {
    height: 100%;
    padding: 40px 0;
    overflow-y: scroll;
  }

  .CardBackContentHeader {
    padding: 0 1rem;
    // border-bottom: $border;

    &Title {
      font-family: $workSans;
      font-size: 1.2rem;
      font-weight: normal;
      display: inline-block;
      border-bottom: 3px solid $accent;
      margin: 0 0 0.75rem;
    }
  }

  .CardBackDataList {
    @include box(0, 0, true);

    &Item {
      display: block;
      overflow: hidden;
      padding: 0.75rem 1rem;
      line-height: 1.6rem;
      color: $font;

      a {
        @extend %resetAnchors;

        > span {
          margin-right: $margin / 3;

          &:last-child {
            border-bottom: 1px dashed black;
          }
        }
      }

      &:nth-child(even) {
        background-color: rgba($flat-gray-1, 0.5);
      }

      .DataKey {
        display: block;
        text-transform: uppercase;
        color: $fontAlt;
        padding-right: $padding / 2;
        font-family: $archivo;
        font-size: 0.85rem;
      }
    }
  }

  .CardBackControls {
    border-top: $border;
    padding: $padding $padding 0;
    @include flex(row wrap, space-evenly, flex-start);

    > button {
      margin-top: $margin / 2;
    }

    .LinkButton {
      color: $accent;
      margin-top: 1.5rem;
    }
  }

  &.added {
    .CardPosterCurtain {
      padding-bottom: 20px;
    }

    .CardFooter {
      z-index: auto;
    }
  }

  &.added.toWatch {
    .CardPosterCurtain {
      padding-bottom: 80px;
    }

    .CardFooter {
      z-index: 1;
    }

    .CardControlsButton {
      background-color: $transparent;
      border: 2px solid $strokeLight;
      color: $strokeLight;

      &:hover {
        border-color: $transparent;
      }

      &:first-child {
        &:hover {
          // color: $accent;
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }

  .CardFlipControls {
    position: absolute;
    z-index: 1;
    @include flex(row nowrap, flex-end, center);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 30%);
    border-radius: 6px;
  }

  .CardFlipAreaButton {
    height: 100%;
    flex-basis: 30%;
    cursor: pointer;

    .material-icons {
      float: right;
      width: 30px;
      height: 30px;
      margin-top: 0.8rem;
      margin-right: 0.6rem;
      font-size: 1.25rem;
      color: white;
      text-align: center;
      // text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  .CardMedia {
    overflow: hidden;
    height: $mediaHeight;
    position: relative;
    border-radius: 6px;

    .CardPoster {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .CardPosterCurtain {
    @include flex(column nowrap, flex-end, flex-start);
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
    background: linear-gradient(to bottom, transparent 40%, black);

    &Title {
      padding: 1rem 1rem 0.25rem;
      margin: 0;
      font-family: $montserrat;
      font-weight: normal;
      color: white;
      text-shadow: $textShadow;
      text-transform: capitalize;
      line-height: 1.4;
      font-size: 1.5rem;
    }
  }

  .CardMeta {
    display: flex;
    flex-flow: row wrap;
    color: white;
    list-style: none;
    padding: 0.6rem 0;
    justify-content: space-between;
    width: 89%;
    border-top: 1px solid white;
    margin: 0 1rem;

    &Item {
      &Title {
        margin: 0;
      }
    }
  }

  .CardFooter {
    @include flex(row nowrap, space-evenly, center);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border: {
      bottom-right-radius: 6px;
      bottom-left-radius: 6px;
    }
  }

  .CardControls {
    width: 100%;
    @include box(20px 10px, 0, true);
    @include flex(row nowrap, space-around, center);

    .CardControlsButton {
      flex: 0 0 45%;
      font-size: $small;
      color: $flat-gray-4;
      text-align: center;
      padding: 16px 10px;
      background-color: white;
      border: transparent;
      border-radius: 6px;
      box-shadow: 0 2px 30px 3px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $success;
        color: white;
        transform: scale(1.05);
      }
    }
  }

  i.material-icons {
    font-size: $body * 1.1;
    vertical-align: sub;
  }
}
