/* ---------------------------------
ViewOptions
--------------------------------- */

.viewOptions {
  .viewToggle {
    @include flex(row nowrap, space-around, center);
    background-color: white;
    border: 0;

    &:focus {
      outline: 2px solid $accent;
    }
  }

  .viewToggleLabel {
    @include smallHeading;
    font-weight: normal;
    margin: 0;
    // margin-left: .4rem;
    margin-right: 0.4rem;
    margin-bottom: -2px;
  }

  i.material-icons {
    margin-right: 0.25rem;
    font-size: 1.25rem;
  }
}
