/* ---------------------------------
Navbar
--------------------------------- */

.Navbar {
  position: fixed;
  bottom: 0;
  background-color: $accent;
  width: 100%;
  z-index: 1;
  box-shadow: 0 -2px 40px rgba(black, 0.45);

  .linkList {
    @include box(0 0.5rem, 0, true);
    @include flex(row nowrap, space-evenly, stretch);

    .linkContainer {
      flex-basis: 33.3%;

      > * {
        @extend %resetAnchors;
        height: 100%;
        display: block;
        padding: 10px 1rem (10px + 6px);
        text-align: center;
        color: $flat-clouds;
        text-shadow: $ligthTextShadow;
        border-top: 6px solid transparent;
        border-top: 6px solid transparent;

        @media screen and (max-width: 425px) {
          padding: 6px 1rem (6px + 6px);

          i.material-icons {
            display: block;
          }

          .navLabel {
            font-size: 0.9rem;
          }
        }

        i.material-icons {
          vertical-align: text-bottom;
        }

        &.selected {
          border-top: 6px solid $accentDark;
        }

        &:hover {
          background-color: $accentDark;
        }
      }
    }
  }
}
