/* ---------------------------------
TabSwitcher
--------------------------------- */

.TabSwitcher {
  .TabHeader {
    @include flex(row wrap, center, flex-end);
  }

  .TabButton {
    border: 0;

    outline: 1px solid #dddddd3b;
    border-top: 1px solid $flat-gray-1;
    background: linear-gradient(to bottom, white, #f3f3f3);
    padding: 6px 1rem;

    + .TabButton {
      margin-left: 0.25rem;
    }

    &--selected {
      border-top: 3px solid $accent;
    }
  }

  .TabContent {
    display: block;
  }
}
