/* ---------------------------------
TabSwitcher
--------------------------------- */

.TabSwitcher {
  padding: 1rem;

  .TabHeader {
    @include flex(row wrap, center, flex-end);
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px -1px #00000033;
  }

  .TabButton {
    border: 0;
    outline: 1px solid #dddddd3b;
    border-top: 1px solid $flat-gray-1;
    background-color: transparent;
    padding: 6px 1rem;
    opacity: 0.4;

    + .TabButton {
      margin-left: 0.25rem;
    }

    &--selected {
      opacity: 1;
      border-top: 3px solid $accent;
    }
  }

  .TabContent {
    display: block;
  }
}
