/* ---------------------------------
AutoSuggest
--------------------------------- */

// AutoSuggest
.AutoSuggest {
  background-color: #f5f5f5e3;
  z-index: 10;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: calc(100vh - (#{$headerHeight + $searchHeight}));
  overflow-y: scroll;

  .AutoSuggestContent {
    padding: 10px 1.6rem 40px;
    margin: 0;
    list-style: none;
  }

  .AutoSuggestItem {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    @include zoomOnHover();

    + .AutoSuggestItem {
      border-top: 1px solid #ddd;
      margin-top: 0.5rem;
    }
  }

  // TODO change name
  .AutoSuggestItemLinkTarget {
    padding: 1rem;

    > * {
      margin: 0;
    }
  }

  .AutoSuggestItemTitle {
    margin-bottom: 0.6rem;
    font-weight: normal;
  }

  .AutoSuggestItemDesc {
    font-size: 0.9rem;
    color: #999;

    .ItemType,
    .ItemYear {
    }
  }

  .AutoSuggestShowMoreButton {
    @extend %resetButtons;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: underline;
    width: 160px;
    padding: 1rem;
    margin: 0 auto;
    font-size: 0.9rem;

    i.material-icons {
      vertical-align: middle;
      font-size: 1.1rem;
    }
  }
}
