/* ---------------------------------
ContentList
--------------------------------- */

.ContentList {
  padding-bottom: 120px;

  &Header {
    &Title {
      font-family: $workSans;
      color: $flat-blue-3;
      font-weight: normal;
      text-align: left;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0 1.6rem;
      margin: 1.6rem 0;
    }
  }

  &Cards {
    @include box(0 1.6rem, inherit, true);

    &.ContentListGrid {
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax($cardMinWidth, $cardMaxWidth)
      );
      grid-gap: 28px;
      place-content: center;
    }
  }
}
